In [1]:
import pandas as pd

In [2]:
pd.read_html('https://isin.twse.com.tw/isin/C_public.jsp?strMode=2', skiprows=[1])

[                        0                            1           2       3  \
 0      ¦³»ùÃÒ¨é¥N¸¹¤Î¦WºÙ  °ê»ÚÃÒ¨é¿ëÃÑ¸¹½X(ISIN Code)      ¤W¥«¤é  ¥«³õ§O
 1                    ªÑ²¼                         ªÑ²¼        ªÑ²¼    ªÑ²¼
 2              1101¡@¥xªd                 TW0001101004  1962/02/09    ¤W¥«
 3              1102¡@¨Èªd                 TW0001102002  1962/06/08    ¤W¥«
 4              1103¡@¹Åªd                 TW0001103000  1969/11/14    ¤W¥«
 ...                   ...                          ...         ...     ...
 25781  01003T¡@¥üÂ×·s¥úR1                 TW00001003T4  2005/12/26    ¤W¥«
 25782  01004T¡@¤g»È´I¨¹R2                 TW00001004T2  2006/04/13    ¤W¥«
 25783  01007T¡@¥üÂ×°ê®õR2                 TW00001007T5  2006/10/13    ¤W¥«
 25784  01009T¡@¤ý¹D¶êº¡R1                 TW00001009T1  2018/06/21    ¤W¥«
 25785  01010T¡@¨Ê«°¼Ö´IR1                 TW00001010T9  2018/12/05    ¤W¥«

               4        5     6
 0        ²£·~§O  CFICode  ³Æµù
 1          ªÑ²¼     ªÑ²¼  ªÑ²¼
 2      ¤ôªd¤u·~   ESVUFR   NaN
 3      ¤ôªd¤u·~   ESVUFR   NaN
 4      ¤ôªd¤u·~   ESVUFR   NaN
 ...         ...      ...   ...
 25781       NaN   CBCIXU   NaN
 25782       NaN   CBCIXU   NaN
 25783       NaN   CBCIXU   NaN
 25784       NaN   CBCIXU   NaN
 25785       NaN   CBCIXU   NaN

 [25786 rows x 7 columns]]